form {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

.active {
  color: black;
  cursor: default;
}
.active:hover {
  color: black;
  cursor: default;
  text-decoration: none;
}

.code-link {
  text-align: center;
}

.current-data-display {
  margin: 20px;
  max-width: 250px;
}

.data-list {
  margin: 0px, 30px;
  max-width: 400px;
}

.enter-city {
  width: 70%;
}

.forecast-icon {
  display: block;
  margin: 0 auto;
  padding: 0;
}
.search-city {
  background: #ff7e67;
  border: 1px solid #ff7e67;
  border-radius: 30px;
  color: white;
  padding: 2px 5px;
  transition: all 200ms ease-in-out;
}

.search-city:hover {
  background: #dd6752;
  cursor: pointer;
}

.weather-app {
  background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
  background-blend-mode: screen;
  border: 1px solid black;
  border-radius: 5px;
  color: #e01171;
  font-family: "Mulish", sans-serif;
  margin: 30px auto 0px;
  max-width: 600px;
  padding: 5px 20px;
}

.weather-forecast {
  color: black;
  font-size: 15px;
  text-align: center;
}

#current-location-button {
  background: #0a97b0;
  border: 1px solid #0a97b0;
  border-radius: 15px;
  color: white;
  display: block;
  margin: 5px auto;
  padding: 8px;
  transition: all 200ms ease-in-out;
}

#current-location-button:hover {
  background: #046a7c;
  cursor: pointer;
}

#greeting {
  font-size: 25px;
  font-style: bolder;
  padding: 30px;
  text-align: center;
}
